@import "variables";

$contact-section-background: #1E1E1E;
$contact-section-color: rgba(255, 255, 255, 0.5);
$contact-section-border: rgba(255, 255, 255, 0.5);

.ask_questions {

  h3 {
    color: white;
    line-height: 37px;
    margin: 0;
  }
  text-align: center;

  .ask-form-background {
    background-color: $contact-section-background;
    border: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 448px;
  }

  .ask-phone {
    color: $contact-section-color;
  }

  .message-margin {
    margin-top: 27px;
  }

  .message-height {
    height: 96px !important;
  }

  .email_container {
    position: relative;
  }

  .email-height {
    height: 48px;
  }

}

.contact_section {
  background-color: $contact-section-background;

  &-left {
    box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.12), 1px 0 0 0 rgba(255, 255, 255, 0.12);
    min-height: 320px;
    padding-top: 123px;
  }

  &-right {
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.12);
    color: white;
    font-size: 16px;
    margin-left: -16px;
    min-height: 320px;
    padding-top: 43px;
    text-align: left;
  }

}

.contact_form {
  display: block;
  margin: 0 auto;
  max-width: 448px;
  width: 100%;

  label {
    color: white;
    padding-left: 8px;
    font-weight: normal;
  }

  .email_container:hover {
    .send_button {
      background: $color--blue;
      border-color: $color--blue;
      color: white;
    }
  }

  &-email, &-message {
    border-radius: 4px;
    display: block;
    padding: 8px 16px;
    width: 100%;

    &:hover,
    &:focus {
      border-color: $color--blue;

    }
  }

  .send_button {
    background: #242424;
    border: solid $contact-section-border;
    border-width: 1px 1px 1px 0;
    height: 48px;
    line-height: 52px;
    width: 104px;
    border-radius: 0 4px 4px 0;
    color: $contact-section-color;
    position: absolute;
    top: 0;
    right: 0;

    //&:active {
    //  background-color: $color--blue;
    //}
  }
}
