@import "bootstrap-custom";
@import "variables";

.button- {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  height: 48px;
  text-align: center;
  box-shadow: none;

  &-primary {
    @extend .button-;
    background: $btn-primary-bg;
    color: $btn-primary-color;
    border: none;
    width: 248px;

    &:hover {
      background: #0066AB;
      color: #fff;
      text-decoration: none;
    }
    &__short {
      @extend .button--primary;
      width: 80px;
    }
  }

  &-default {
    @extend .button-;
    background: #fff;
    border: none;
    color: #0C65B1;
    width: 272px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    &:hover {
      background: #f5f5f5;
      text-decoration: none;
      box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    }
  }
}