@import "variables";

.event_section {
  min-height: 480px;

  &-text {
    line-height: 1.5;
    max-width: 400px;
  }

  h3 {
    line-height: 37px;
    margin-top: 98px;
    margin-bottom: 24px;
  }

  &-image {
    height: 400px;
    margin-top: 38px;
    width: 100%;
    background: url(../src/image/speech.jpg) no-repeat center;
    background-size: cover;
  }
}

.event-button {
  margin-top: 88px;
}

@media screen and (max-width: 768px) {

  .event_section {
    h3 {
      margin-top: 0;
    }

    &-left {
      padding: 24px !important;
    }

    &-right {
      padding: 0 !important;
    }

    &-image {
      height: 208px;
      margin-top: 0;
    }
  }

  .event-button {
    margin-top: 24px;
    width: 100%;
  }
}