@import "variables";

$border-color-primary: #E6E6E6;

.description_section {
  overflow: hidden;
  min-height: 600px;
}

.description_tabs {

  &-container {
    padding: {
      top: 56px;
    };
  }

  li {
    border-right: solid 1px $border-color-primary;
    color: rgba(0,0,0,0.3);
    font-size: 24px;
    height: 64px;
    padding: 16px 24px;

    &:first-child {
      border-left:solid 1px $border-color-primary;
    }

    &.current {
      color: $color--blue;
      font-weight: bold;
    }
  }
}

// GENERAL TABS
ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  display: inline-block;
  cursor: pointer;
}

ul.tabs li.current{

}

.tab-content{
  display: none;
}

.tab-content.current{
  display: inherit;
}