@import "variables";

.how_it_works_section {
  background: #007ABF;
  min-height: 584px;
  padding-top: 56px;
  padding-bottom: 64px;

  h2 {
    color: #ffffff;
    font-size: 32px;
    line-height: 47px;
    margin: 0 0 28px;
  }

}

.vertical_tabs {
  color: #ffffff;
  display: flex;
  flex-direction: column;

  li {
    height: 64px;
    border-bottom: solid 1px #003A6F;
    font-size: 18px;
    padding: 20px 24px;
    width: 100%;

    &:first-child {
      border-top: solid 1px #003A6F;
    }

    &.current {
      background: rgba(0,0,0,0.12);
      position: relative;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 32px 0 32px 24px;
        border-color: transparent transparent transparent rgba(0,0,0,0.12);
        position: absolute;
        right: -24px;
        top: 0;
      }
    }
  }
}

ul.vertical_tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.vertical_tabs li{
  display: inline-block;
  cursor: pointer;
}

ul.vertical_tabs li.current{
}

.vertical_tab-content{
  color: #ffffff;
  display: none;
  height: 480px;

  .text {
    height: 250px;

    h6 {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 24px;
      padding: 0;
    }

    p {
      color: rgba(255,255,255,0.7);
      font-size: 16px;
      height: 210px;
    }

  }

  img {
    width: 100%;
    height: auto;

    &.full-width {
      width: auto;
    }
  }

}

.vertical_tab-content.current{
  display: inherit;
}

.how_it_works_right {
  min-height: 474px;
}

@media screen and (max-width: 991px) {
  .how_it_works_section {
    margin-right: -8px;
    min-height: 1px;
    padding: 24px 0 24px 24px;
    h2 {
      margin: 0 0 35px 0;
    }
    .vertical_tab-content {
      box-shadow: 0 -1px 0 0 #003A6F;
      padding-top: 22px;
      font-size: 16px;
      min-height: 64px;
      height: auto;
      &-bottom {
        box-shadow: 0 -1px 0 0 #003A6F, 0 1px 0 0 #003A6F;
      }
      a {
        color: #ffffff;
        &:hover {
          text-decoration: none;
        }

      }
      h6 {
        margin-top: 10px;
      }
    }
    .text {
      height: auto;
      p {
        height: auto;
        margin-top: 24px;
        padding-right: 24px;
      }
    }
    .how_it_works_right {
      min-height: 1px;
    }
  }
}