@import "variables";


.platform_slide {
  background: url("../src/image/platform_slide.jpg") no-repeat bottom;
  background-size: cover;
  display: flex;
  min-height: 600px;position: relative;
  padding-bottom: 72px;
}

.slider_content {
  border-radius: 4px;
  margin: auto;
  max-width: 560px;
  overflow: hidden;
  width: 100%;
  box-shadow: -1px 4px 4px 0 rgba(0,0,0,0.2);

  &-top {
    background: #fff;
    padding: 32px 24px;
    text-align: center;

    h3 {
      line-height: $line-height-main;
      margin: 0 0 24px;
    }
  }

  &-bottom {
    background: $background--secondary;
    padding: 0 24px;
    text-align: left;

    p {
      padding: 24px 0 16px;
      line-height: 1.7;
      margin: 0;
    }

    a {
      color: rgba(0,0,0,0.45);
    }
  }
}

.slider_button {
  z-index: 1000;
}

.platform_slider {
  margin-top: 72px;

  .oid {
    margin-top: 12px;
  }
}

@media screen and (max-width: 767px){
  .platform_slide {
    padding: 24px;

    .button--primary {
      max-width: 100%;
    }
  }
}