@import "variables";

$border-color-primary: #E6E6E6;

.description_section {
  overflow: hidden;
  min-height: 584px;

  .description_button {
  }
}

.description_tabs {

  &-container {
    padding: {
      top: 56px;
    };
  }

  li {
    border-right: solid 1px $border-color-primary;
    color: rgba(0, 0, 0, 0.3);
    font-size: 24px;
    height: 64px;
    padding: 16px 0;
    text-align: center;

    &:first-child {
      border-left: solid 1px $border-color-primary;
      margin-left: 8px;
    }

    &:nth-child(1) {
      width: 216px;
    }
    &:nth-child(2) {
      width: 127px;
    }
    &:nth-child(3) {
      width: 127px;
    }
    &:nth-child(4) {
      width: 144px;
    }

    &.current {
      color: $color--blue;
      font-family: glober-bold, sans-serif;
      font-weight: bold;
    }
  }

  &-content {
    min-height: 372px;
    font-size: 16px;
    line-height: 24px;
    padding: {
      top: 52px;
      left: 16px;
    };

    strong {
      font-style: italic;
    }

    p {
      margin: 0 0 24px;
    }
  }
}

.description_image {
  display: flex;
  align-items: center;
  height: 584px;
  position: relative;

  img {
    width: auto;

    &:nth-child(2) {
      height: 510px;
    }

    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(4) {
      height: auto;
      width: 100%;
    }
  }
}

// GENERAL TABS
ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li {
  background: none;
  display: inline-block;
  cursor: pointer;
}

ul.tabs li.current {

}

.tab-content {
  display: none;
}

.tab-content.current {
  display: inherit;
}

.tab-image {
  display: none;

  &.current {
    display: inherit;
  }
}