@import "variables";

.second_slide {

  position: relative;
  overflow: hidden;
  min-height: 600px;
  padding-top: 10px;

  &-left {
    position: relative;
  }

  &-content {
    padding: {
      top: 94px;
      bottom: 83px;
    }
  }

  &-title {
    line-height: 1.44;
  }

  &-text {
    line-height: 1.5;
    min-height: 104px;
    margin-bottom: 21px;
  }

  //PHONE
  &-phone {
    padding-top: 96px;

    img {
      height: 456px;
      margin-left: 24px;
      position: absolute;
      width: auto;
    }
  }

  &-right {
    margin-top: 32px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      height: 520px;
      width: auto;
    }
  }

}

.mar-slide {
  margin-top: 72px;
  width: 100%;
}

.slide_background {
  background-image: url(../src/image/slide1.jpg);
  min-height: 612px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-button {
  width: 100%;
  bottom: 0;
}

.slide-button-container {
  position: relative;
}

// TODO Rename the classes below
.oid {
  background: white;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 5px !important;
  margin-top: 32px;
  padding-top: 48px;
  box-shadow: -1px 4px 4px 0 rgba(0, 0, 0, 0.2);
  right: 8px;
}

.oidcen {
  padding-right: 60px;
  padding-left: 61px;
  text-align: center;

  h5 {
    color: rgba(0, 0, 0, 0.45);
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 27px;
  }
}

.oiddown {
  background: $background--secondary;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 33px;
  width: auto!important;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 23px!important;
  padding-left: 24px!important;
  padding-right: 24px!important;
  padding-bottom: 24px!important;
  line-height: 24px;
}

// This class uses in the software section
// TODO use only one class for two sections
.grey_block {
  min-height: 104px;
  padding-top: 41px;
  background: linear-gradient(270deg, #FFFFFF 0%, #F5F5F5 100%);;

  a {
    font-size: 18px;
  }
}

@media screen and (max-width: 998px) {
  .second_slide {

    &-content {
      padding-bottom: 50px;
    }

    &-title {
      font-size: 30px;
    }
  }

}

@media screen and (max-width: 480px) {

  .second_slide {
    text-align: center;

    &-left {
      max-width: 400px;
    }
  }

  .mar-slide {
    margin-top: 0;
  }
.oid {
  height: 192px;
  margin-bottom: 64px;
  padding-top: 30px;
  margin-left: 24px;
  margin-right: 8px;
}
  .oidcen {
    padding-left: 0px;
    padding-right: 0px;
    h2 {
      font-size: 30px;
    }
  }
  .slide_background {
    min-height: 1px;
    height: 100vh;
    align-items: end;
    display: flex;
    position: relative;
  }
  .first_slide {
    min-height: 1px;
    height: 100vh;
    align-items: end;
  }
  .oiddown {
    margin-top: 0;
  }
  .slide-button {
    bottom: 300px;
    position: absolute;
    top:100vh;
  }
  .slide-control {
    margin-right: 8px;
  }
  .second_slide-background {
    background-image: url(../src/image/slide2_se.png);
    min-height: 432px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}