@import "variables";

.second_slide {

  position: relative;
  overflow: hidden;

  &-left {
    position: relative;
  }

  &-content {
    padding: {
      top: 94px;
      bottom: 83px;
    }
  }

  &-title {
    line-height: 1.44;
  }

  &-text {
    line-height: 1.5;
    min-height: 104px;
    margin-bottom: 21px;
  }

  &-button {

    &.button--primary {
      width: 248px;

      // Move it to general style for buttons
      height: 48px;
      line-height: 52px;
    }
  }

  //PHONE
  &-phone {
    padding-top: 96px;

    img {
      height: 456px;
      margin-left: 24px;
      position: absolute;
      width: auto;
    }
  }

  &-right {
    margin-top: 32px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      height: 520px;
      width: auto;
    }
  }

}

// This class uses in the software section
// TODO use only one class for two sections
.grey_block {
  min-height: 104px;
  padding-top: 41px;
  background: $background--secondary;

  a {
    font-size: 18px;
  }
}