@import "bootstrap-custom";
@import "variables";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.logo {
  height: 48px;
}

.fontbold {
  font-family: glober-bold;
  font-weight: bold;
}

.navbar-custom {
  background-color: transparent !important;
  border-color: transparent !important;
  background-image: none !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 0px 0px rgba(0, 0, 0, 0.075) !important;
  font-size: 16px;
  margin: 0;

  li {
    a {
      color: $text-color;
      min-height: 72px;
      padding-top: 24.5px;
    }

    a:hover {
      text-decoration: underline !important;
      color: $link-hover-color !important;
    }
    a:active {
      color: #0C65B1 !important;
    }

  }
}

.host-event-color {
  color: rgb(0,122,191)!important;
}

.custom-droptoggle {
  color: rgba(0,0,0,87);
}

.custom-b {
  margin-right: 7px !important;
  margin-left: 7px !important;
}

.dropmenu-custom {
  right: 0;
  left: auto;
  margin-right: -21px;
  width: 260px;
  border-radius: 0;
  border: 0;
  border-left: 1px solid #777;
  background-color: #F5F5F5;
}

.cus-line {
  border-right: 1px solid #777;
  padding-right: 22px;
}

.margin-head {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bl3 {
  background-image: url("src/image/3block.png");
}

.modal-hod {
  max-width: 400px;
  margin: 0 auto;
  textarea {
    height: 48px;
  }
  input {
    height: 48px;
  }
}

.modal-width {
  width: 100%;
}

.send-button {
  width: 100%;
  background: $color--blue !important;
  background-color: $color--blue !important;
  border-color: $color--blue !important;
}

.send-button:hover {
  background: $color--blue !important;
  background-color: $color--blue !important;
  border-color: $color--blue !important;
}

.send-button:active {
  background: $color--blue !important;
  border-color: $color--blue !important;
  background-color: $color--blue !important;
}



.bold_text {
  color: $text-color;
  font-weight: bold;
  margin-top: 24px;
}

.slide-control {
  background-image: url(../src/icon/right.svg) !important;
  background-repeat: no-repeat;
  background-position: 50%;
  right: 2%;
  height: 48px;
  width: 48px;
  background-color: #FFFFFF;
  box-shadow: -1px 4px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  left: auto;
  right: 8px;
  margin-top: 8px;
}

.slide-control:hover {
  background-image: url(../src/icon/right_b.svg) !important;
}

.slide-control-height {
  height: 64px;
}

.slide-content {
  content: none;
}

.toback {
  background-image: url(../src/image/brendan.png);
  height: 300px;
}

.spotsmens_info {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  max-height: 240px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.sportsmens_bio {
  h3 {
    font-size: 27px;
  }
  background: white;
  height: 295px;
  vertical-align: middle;
  width: 100%;
}

.slide-button-sportsmens {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: -64px;
}
.sportsmens-slide {
  margin-top: 0;
}

.star_title {
  margin-right: 162px;
  margin-left: 24px;
  margin-top: 24px;
}

.sportsmen_modal-header {
  background-color: #F5F5F5;
  height: 72px;
  color: #0C65B1;
  line-height: 36px;
  font-size: 25px;
  padding-top: 21px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 24px;
}

.sportsmens_modal-biography {
  color: #333333;
  margin-top: 18px;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 18px;
}

.sportsmens_title {
  margin-left: 24px;
  margin-top: 24px;
}

.sportsmens_biography {
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 18px;
  margin-top: 24px;
}

sportsmens-margin {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
}

.spotsmens_photo {
  max-width: 176px;
}

.sportsmen_subheader {
  color: rgba(0,0,0,45);
  line-height: 27px;
}

.school2-margin {
  margin-top: 18px;
}

.brandan_photo {
  max-width: 265px;
}

.photo_size {
  height: 100%;
}

// NAVIGATION
.header-nav-fixed {
  background: rgba(255, 255, 255, .9);
  font-size: 16px;
  min-height: 72px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.star_team_section {
  background: #F5F5F5;
  width: 100% !important;
  padding-top: 16px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

.team_olympians {
  margin-top: 7%;
}

.sportsmens_section {
  background: #F5F5F5;
  padding-top: 80px;
  padding-bottom: 16px;
  border-top: solid 1px rgb(230,230,230);

}

.subscribe_section {
  background: linear-gradient(135deg, #007ABF 0%, #003A6F 100%);
  width: 100%;
}

.subscribe-text {
  color: #FFFFFF;
  text-align: center;
  background: transparent;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.12);
}

.subscribe-text2 {
  margin-top: 39px !important;
  margin-bottom: 39px !important;
  padding-top: 6px;
  line-height: 58px;
}

.subscribe-button_pad {
  background: transparent;
  text-align: center;
}

.subscribe-button {
  color: $color--blue !important;
  background: white !important;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 39px;
}

.testimonials-title {
  color: rgb(0,122,191);
  margin-top: 16px;
  line-height: 35px;
}

.testimonial-bottom {
  height: 80px;
  h3 {
    padding-top: 8px;
    margin-bottom: 22px;
  }
}

.testimonial-school {
  max-width: 144px;
  margin-top: 16px;
  margin-left: 16px;
  float: right;
}

.testimonial-school-section {
  box-shadow: -1px 0 0 0 rgba(0,0,0,0.12);
  min-height: 240px;
  padding-right: 16px;
  margin-left: 8px;
  padding-left: 0;
  max-width: 176px;
  //padding-top: 123px;
}

.testimonial-info {
  box-shadow: -1px 0 0 0 rgba(0,0,0,0.12);
  min-height: 240px;
  padding-left: 32px;
}

.testimonial-picture-padding {
  padding-left: 0;
  height: 240px;
}

.testimonial1-background {
  background-image: url(../src/image/testimponial1.jpg);
  min-height: 240px;
  min-width: 272px;
  //padding-top: 3%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial2-background {
  background-image: url(../src/image/testimonial2.jpg);
  min-height: 240px;
  min-width: 272px;
  //padding-top: 3%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial3-background {
  background-image: url(../src/image/testemonial3.jpg);
  min-height: 240px;
  min-width: 272px;
  //padding-top: 3%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial4-background {
  background-image: url(../src/image/testimonial4.jpg);
  min-height: 240px;
  min-width: 272px;
  //padding-top: 3%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-button-testimonials {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 6.5px;
}

.software_section {
  overflow: hidden;
  position: relative;
  margin-top: 80px;
  &-height {
    height: 408px;
  }
}

.software-margin {
  margin-top: 32px;
}

.software-macbook {
  position: absolute;
  margin-left: 50%;
  top: 0;
  img {
    height: 472px;
  }
}

.software-button {
  margin-top: 40px;
}

.visit-product-page {
  background: linear-gradient(90deg, #F5F5F5 0%, #FFFFFF 100%);
  height: 104px;
  padding-top: 41px;
  a {
    font-size: 18px;
  }
}

.contacts {
  height: 296px;
  font-size: 16px;
  img {
    margin-top: 98px;
    float: right;
  }
}

.contacts-margin {
  margin-top: 65px;
}

.copyright-margin {
  margin-top: 27px;
}

.contact-divider-color {
  color: rgba(0,0,0,30);
}


//buttons
.button- {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
  font-family: $font-family-base;
  height: 48px;
  line-height: 52px;
  //padding: 13px 0 12px;
  text-align: center;
  box-shadow: none;

  &-primary {
    @extend .button-;
    background: $btn-primary-bg;
    color: $btn-primary-color;
    border: none;
    width: 248px;

    &:hover {
      background: lighten($btn-primary-bg, 5%);
      color: #fff;
      text-decoration: none;
    }
    &__short {
      @extend .button--primary;
      width: 80px;
    }
  }

  &-default {
    @extend .button-;
    background: #fff;
    color: $color--blue;
    width: 272px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    &:hover {
      background: #f5f5f5;
      text-decoration: none;
      box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    }
  }
}