@import "variables";

.testimonial_section {
  .testimonial-school {
    max-width: 144px;
    margin-top: 16px;
    margin-left: 16px;
    float: right;
  }

  .testimonial-school-section {
    box-shadow: -1px 0 0 0 rgba(0,0,0,0.12);
    min-height: 240px;
    padding-right: 16px;
    margin-left: 8px;
    padding-left: 0;
    max-width: 176px;
    //padding-top: 123px;
  }

  .testimonial-info {
    box-shadow: -1px 0 0 0 rgba(0,0,0,0.12);
    min-height: 240px;
    padding-left: 32px;
  }

  .testimonial-picture-padding {
    padding-left: 0;
    height: 240px;
  }

  .testimonial1-background {
    background-image: url(../src/image/testimponial1.jpg);
    min-height: 240px;
    min-width: 272px;
    //padding-top: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .testimonial2-background {
    background-image: url(../src/image/testimonial2.jpg);
    min-height: 240px;
    min-width: 272px;
    //padding-top: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .testimonial3-background {
    background-image: url(../src/image/testemonial3.jpg);
    min-height: 240px;
    min-width: 272px;
    //padding-top: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .testimonial4-background {
    background-image: url(../src/image/testimonial4.jpg);
    min-height: 240px;
    min-width: 272px;
    //padding-top: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slide-button-testimonials {
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 6.5px;
  }
}

@media screen and (max-width: 678px) {
  .testimonial2-school-section {

    min-height: 140px;
    padding-right: 16px;
    margin-left: 8px;
    padding-left: 0;
    max-width: 176px;
  }
  .testimonial-background {
    background-image: url(../src/image/testimponial1.jpg);
    min-height: 120px;
    max-width: 120px;
    //padding-top: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}