@import "variables";

.testimonial_section {
  .testimonials-title {
    color: rgb(0,122,191);
    margin-top: 16px;
    line-height: 35px;
  }

  .testimonial-bottom {
    height: 80px;
    h3 {
      padding-top: 8px;
      margin-bottom: 22px;
    }
  }
  .testimonial-school {
    max-width: 144px;
    margin-top: 16px;
    margin-left: 16px;
    float: right;
  }

  .testimonial-school-section {
    box-shadow: -1px 0 0 0 rgba(0,0,0,0.12);
    min-height: 240px;
    padding-right: 16px;
    margin-left: 8px;
    padding-left: 0;
    max-width: 176px;
    //padding-top: 123px;
  }

  .testimonial-info {
    box-shadow: -1px 0 0 0 rgba(0,0,0,0.12);
    min-height: 240px;
    padding-left: 32px;
  }

  .testimonial-picture-padding {
    padding-left: 0;
    height: 240px;
  }

  .testimonial1-background {
    background-image: url(../src/image/testimonial2.jpg);
    min-height: 240px;
    min-width: 272px;
    //padding-top: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .testimonial2-background {
    background-image: url(../src/image/b1.jpg);
    min-height: 240px;
    min-width: 272px;
    //padding-top: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .testimonial3-background {
    background-image: url("../src/image/WH1.jpg");
    min-height: 240px;
    min-width: 272px;
    //padding-top: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .testimonial4-background {
    background-image: url("../src/image/WH2.JPG");
    min-height: 240px;
    min-width: 272px;
    //padding-top: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slide-button-testimonials {
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 6.5px;
  }
  .play-button {
    background: url("../src/icon/play.svg") no-repeat center;
    height: 65px;
    width: 65px;
    background-color: rgba(30,30,30,0.6);
    //box-shadow: -1px 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 32.5px;
    border: 1px solid #FFFFFF;
    &-href {
      width: 65px;
      position: absolute;
      margin: 30% 38%;
      border-radius: 32.5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .testimonial_section {
    .testimonial-school {
      margin-left: 8px;
      float: none;
    }
    .testimonial2-school-section {

      min-height: 140px;
      padding-right: 16px;
      margin-left: 8px;
      padding-left: 0;
      flex: 1;
      text-align: center;
    }
    .testimonial-background {
      display: flex;
      background-image: url(../src/image/testimponial1.jpg);
      min-height: 120px;
      flex: 1;
      //padding-top: 3%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .testimonial3-background {
      display: flex;
      min-height: 120px;
      flex: 1;
      //padding-top: 3%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .testimonial-mobile {
      display: flex;
      padding-top: 16px;
    }
    .play-button {
      &-href {
        position: unset;
        margin: auto;
      }
    }
    .testimonial-mobile-title {
      display: flex;
      box-shadow: 0px 1px 0px 0 #E6E6E6;
    }
    .testimonial-bottom {
      padding-left: 24px;
    }
    .testimonials-title {
      padding-left: 24px;
      padding-top: 24px;
      box-shadow: 0 -1px 0 0 #E6E6E6;
      h4 {
        font-size: 18px;
      }
    }
    .testimonials-subj {
      margin-left: 24px;
      margin-right: 24px;
    }
    .testimonial-school {
      max-height: 129px;
    }
  }

}